.section-App {
  background: linear-gradient(4deg, rgba(148,186,249,1) 33%, rgba(240,240,240,1) 100%);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:  column;
}

h1 {
  color: white;
  font-size:  3rem;
  margin-bottom: 20px;
}

.p-App {
  font-size: 0.9rem;
}